/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS


#e7f5ff
#e9ecef
#ced4da
#339af0
#333
#ced4da
#74c0fc
#69db7c
#99e9f2
#ffec99

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3.6rem;
  padding: 2rem;
  margin-bottom: 0rem;
  /* background: linear-gradient(to right, #e7f5ff, #d0ebff); */
  background: linear-gradient(to right, #e9ecef, #ced4da);
  z-index: 9999;
  width: 100%;
  border-bottom: 1px solid #ced4da;
}

.sticky {
  position: fixed;
  background: linear-gradient(to right, #e9ecef, #ced4da);
  opacity: 0.8;
}

.header-img-icon {
  height: 5.2rem;
  border-radius: 10%;
}

.heading-header {
  font-weight: 400;
  color: #333;
  font-size: 3rem;
  line-height: 1.05;
}

.header-nav {
  margin-left: auto;
}

.header-nav-list {
  display: flex;
  gap: 1.6rem;
  list-style: none;
}

.header-nav-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: #333;
}

.header-nav-link:hover,
.header-nav-link:active {
  background-color: #ced4da;
  box-shadow: 0 1.2rem 1.2rem 1.2rem #ced4da;
  font-weight: 600;
  cursor: pointer;
}

/* SOCIALS */

.social {
  bottom: 4.4rem;
  right: 4.4rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  position: fixed;
}

.social-icon img {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 10%;
  filter: grayscale(1);
  transition: all 0.5s;
  opacity: 0.7;
}

.social-icon img:hover {
  filter: grayscale(0);
  transform: scale(1.5);
  opacity: 1;
}

/* HERO */
.hero {
  background: linear-gradient(to right, #e9ecef, #ced4da);
  display: flex;
  padding: 20rem 6.2rem;
  padding-bottom: 49rem;
  margin: 0 auto;
  margin-bottom: 8.6rem;
  align-items: center;
}

.hero .heading-tertiary {
  font-weight: 400;
  justify-content: flex-start;
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
}

.hero .heading-primary {
  font-weight: 600;
  justify-content: flex-start;
  margin-bottom: 1.2rem;
  font-size: 4.4rem;
}

.heading-primary.heading-lighter {
  background-color: #ced4da;
  border-radius: 8px;
  padding: 0.8rem;
  color: rgba(51, 51, 51, 0.6);
}

.hero-description {
  font-size: 1.8rem;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.btn-hero {
  font-size: 1.6rem;
  background-color: #339af0;
  padding: 1.2rem;
  margin-top: 3rem;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  border-radius: 8px;
  transition: all 0.5s;
}

.btn-contact-me {
  background-color: #fff;
  color: #333;
  margin-left: 1.2rem;
}

.btn-download {
  background-color: #ced4da;
  color: #333;
  margin-left: 1.2rem;
}

.btn-download:hover {
  background-color: #ced4da;
  color: #fff;
  margin-left: 1.2rem;
}

.btn-download-icon {
  height: 1.6rem;
  width: 1.6rem;
}
.btn-learn-more:hover,
.btn-learn-more:active {
  background-color: #74c0fc;
}

.btn-contact-me:hover,
.btn-contact-me:active {
  background-color: #e7f5ff;
  color: #333;
}

/* ABOUT ME */

.about-me {
  padding: 0 8rem;
  line-height: 1.6;
  font-size: 2.4rem;
  margin-bottom: 8.6rem;
}

.about-me-description {
  font-size: 1.8rem;
  margin-top: 2rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

/* EDUCATION */

.section-education {
  background: linear-gradient(to right, #e9ecef, #ced4da);
  padding-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.education {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 3.2rem;
  padding: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;

  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  margin-bottom: 8.6rem;
  background-color: #fff;
  min-height: 71rem;
}

.education-img-container {
  display: flex;
  justify-content: center;
}

.education:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.education-img {
  width: 12rem;
}

.nottingham-img {
  width: 22rem;
  margin-bottom: 2.4rem;
}

.education-title,
.education-tag {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.4rem;
}

.education-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  line-height: 1.8;
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--phd {
  background-color: #69db7c;
}

.tag--mres {
  background-color: #99e9f2;
}

.tag--msci {
  background-color: #ffec99;
}

/* Skills */

.section-skills {
  margin-bottom: 8.6rem;
}

.skill-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill-icon {
  height: 9.8rem;
  width: 9.8rem;
  margin-bottom: 0.8rem;
}

.img-icon {
  width: 8.6rem;
  height: auto;
  filter: grayscale(1);
  margin-bottom: 1rem;
}

.img-icon:hover {
  filter: grayscale(0);
  cursor: pointer;
}

.skill-title {
  font-size: 3rem;
  margin-bottom: 1.2rem;
}

.skill-text {
  font-size: 1.4rem;
  line-height: 1.8;
}
/* Projects */

.section-projects {
  margin-bottom: 8.6rem;
}

.project-accordian {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.item {
  box-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.1);
  padding: 2.4rem;

  display: grid;
  column-gap: 2.4rem;
  row-gap: 3.2rem;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: space-between;
}

.number,
.text {
  font-size: 2rem;
}

.number {
  color: #333;
  font-weight: bold;
}

.accordian-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #d0ebff;
}

.accordian-icon:link,
.accordian-icon:visited {
  color: #339af0;
}

.accordian-icon:hover,
.accordian-icon:active {
  color: #339af0;
  cursor: pointer;
}

/* Hidden toggle feature */

.project-text {
  font-size: 1.6rem;
  line-height: 1.8;
}

.hidden-box {
  grid-column: 2;
  display: none;
}

.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
}

.hidden-box ul {
  color: #868e96;
  margin-left: 20px;
  /* Inorder to apply vertical margin but not on last child */
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.open {
  border-top: 4px solid #339af0;
  /* transition: all 1s; */
}

.open .accordian-icon {
  color: #339af0;
}

.open .hidden-box {
  display: block;
}

.open .number,
.open .text {
  color: #339af0;
}

.project-icon-container {
  display: flex;
  column-gap: 1.6rem;
}

.send-left {
  margin-right: auto;
  display: flex;
  column-gap: 1.6rem;
}

.link-icon:hover {
  color: #69db7c;
}

.project-icons {
  height: 3.2rem;
}

a:link {
  text-decoration: none;
}
.github-link-icon .hover-text {
  color: #333;
  position: relative;
  bottom: 5rem;
  left: 0rem;
  visibility: hidden;
}

.github-link-icon:hover .hover-text {
  visibility: visible;
}

/* Papers */

.section-papers {
  margin-bottom: 8.6rem;
}

.section-papers .heading-primary {
  margin-bottom: 14rem;
}

.paper-carousel {
  background: linear-gradient(to right, #e9ecef, #ced4da);

  border-radius: 0.8rem;

  position: relative;
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  gap: 8.6rem;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.paper-img {
  height: 35rem;
  position: relative;
  border-radius: 8px;
  transform: scale(1.5);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
}

.paper-title,
.paper-keywords {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 7.4rem;
}

.btn-icon {
  height: 24px;
  width: 24px;
  stroke: #339af0;
  color: #339af0;
  opacity: 0.8;
}

.btn-icon-left {
  transform: rotate(180deg);
}

.btn {
  border: none;
  height: 40px;
  width: 40px;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
}

.btn--left {
  left: 0;
  transform: translate(-50%, -50%);
}

.btn--right {
  right: 0;
  transform: translate(50%, -50%);
}

.btn:hover,
.btn:active {
  background-color: #e7f5ff;
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot--active {
  background-color: #339af0;

  opacity: 1;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #fff;
  stroke: #339af0;
  border: 2px solid #339af0;
  border-radius: 50%;
  cursor: pointer;
}

/* Contact me */
.contact-me {
  display: flex;
  flex-direction: column;
  margin-bottom: 8.2rem;
}
.contact-description {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}

.contact-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-decoration: none;
  font-style: normal;
  border: none;
  cursor: pointer;
  font-size: 2.4rem;
  background-color: #339af0;
  padding: 1.6rem;
  margin-top: 3rem;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  border-radius: 8px;
  transition: all 0.5s;
}

.contact a {
  text-decoration: none;
}

.contact-btn:hover,
.contact-btn:active {
  background-color: #74c0fc;
  text-decoration: none;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 3.2rem;
}

.footer-text {
  font-size: 1.2rem;
}
