/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

.header {
  /* display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3.6rem;
  padding: 2rem;

  margin-bottom: 3.6rem;
  background-color: #e7f5ff; */
  /* padding-top: 9rem; */
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3.6rem;
  padding: 2rem;
  /* margin-top: 2rem; */
  margin-bottom: 0rem;
  /* background-color: #e7f5ff; */
  background: linear-gradient(to right, #e7f5ff, #d0ebff);
  /* background: linear-gradient(to right, #e9ecef, #ced4da); */

  z-index: 9999;
  width: 100%;
  border-bottom: 1px solid #d0ebff;
}

.sticky {
  position: fixed;
  /* background-color: rgb(231, 245, 255, 0.8); */
  background: linear-gradient(
    to right,
    rgb(231, 245, 255, 0.8),
    rgb(208, 235, 255, 0.8)
  );

  /* margin-bottom: 1000rem; */
}

.header-img-icon {
  height: 5.2rem;
  border-radius: 10%;
}

.heading-header {
  font-weight: 400;
  color: #333;
  /* color: #45260a; */
  /* color: #343a40; */
  /* letter-spacing: -0.5px; */

  font-size: 3rem;
  line-height: 1.05;
  /* margin-bottom: 3.2rem; */
}

.header-nav {
  margin-left: auto;
}

.header-nav-list {
  display: flex;
  /* justify-self: end; */
  /* justify-content: flex-end; */
  /* align-self: flex-end; */
  gap: 1.6rem;
  list-style: none;
}

.header-nav-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: #333;
}

/* .header-nav-link:link,
.header-nav-link:visited {
} */

.header-nav-link:hover,
.header-nav-link:active {
  background-color: #d0ebff;
  box-shadow: 0 1.2rem 1.2rem 1.2rem #d0ebff;
  font-weight: 600;
  cursor: pointer;
}

/* HERO */
.hero {
  /* background-color: #e7f5ff; */
  /* background: linear-gradient(to right, #e9ecef, #ced4da); */
  background: linear-gradient(to right, #e7f5ff, #d0ebff);
  display: flex;
  /* max-width: 120rem; */
  padding: 20rem 6.2rem;
  padding-bottom: 31rem;
  margin: 0 auto;
  margin-bottom: 8.6rem;
  /* justify-content: flex-start; */
  align-items: center;
}

.hero .heading-tertiary {
  font-weight: 400;
  justify-content: flex-start;
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
}

.hero .heading-primary {
  font-weight: 600;
  justify-content: flex-start;
  margin-bottom: 1.2rem;
  font-size: 4.4rem;
}

.heading-primary.heading-lighter {
  /* font-weight: 400; */
  background-color: #d0ebff;
  border-radius: 8px;
  padding: 0.8rem;
  color: rgba(51, 51, 51, 0.6);
}

.hero-description {
  font-size: 1.8rem;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.btn-hero {
  font-size: 1.6rem;
  background-color: #339af0;
  padding: 1.2rem;
  margin-top: 3rem;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  border-radius: 8px;
  transition: all 0.5s;
}

.btn-contact-me {
  background-color: #fff;
  color: #333;
  margin-left: 1.2rem;
}

.btn-learn-more:hover,
.btn-learn-more:active {
  background-color: #74c0fc;
  /* background-color: #fff; */
  /* color: #333; */
}

.btn-contact-me:hover,
.btn-contact-me:active {
  /* background-color: #74c0fc; */
  background-color: #e7f5ff;
  color: #333;
}

/* .hero img {
  width: 20%;
} */

/* ABOUT ME */

.section-about-me {
}
.about-me {
  padding: 0 8rem;
  line-height: 1.6;
  /* background-color: #e7f5ff; */
  /* border: 1px solid #d0ebff; */
  font-size: 2.4rem;
  margin-bottom: 8.6rem;
}

.about-me-description {
  font-size: 1.8rem;
  margin-top: 2rem;
}

/* EDUCATION */

.section-education {
  background-color: #e7f5ff;
  padding-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.education {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 3.2rem;
  padding: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;

  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  margin-bottom: 8.6rem;
  background-color: #fff;
  min-height: 71rem;
}

.education-img-container {
  display: flex;
  justify-content: center;
}

/* .nottingham-img {
} */

.education:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.education-img {
  width: 12rem;
  /* height: auto; */
}

.nottingham-img {
  width: 22rem;
  margin-bottom: 2.4rem;
}

.education-title,
.education-tag {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.4rem;
}

.education-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  line-height: 1.8;
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  /* text-transform: uppercase; */
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--phd {
  background-color: #69db7c;
}

.tag--mres {
  background-color: #99e9f2;
}

.tag--msci {
  background-color: #ffec99;
}

/* Skills */

.section-skills {
  /* temporary */
  margin-bottom: 8.6rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill-icon {
  height: 9.8rem;
  width: 9.8rem;
  margin-bottom: 0.8rem;
}

.img-icon {
  width: 8.6rem;
  height: auto;
  filter: grayscale(1);
  margin-bottom: 1rem;
}

.img-icon:hover {
  filter: grayscale(0);
}

/* .js-icon {
  width: 8.2rem;
}

.html-icon {
  width: 8.2rem;
}

.react-icon {
  width: 9.8rem;
  height: auto;
}

.node-icon {
  width: 13.55rem;
  height: auto;
}

.python-icon {
  width: 8.2rem;
  height: auto;
} */

.skill-title {
  font-size: 3rem;
  margin-bottom: 1.2rem;
}

.skill-text {
  font-size: 1.4rem;
  line-height: 1.8;
}
/* Projects */

.section-projects {
  margin-bottom: 8.6rem;
}

.project-accordian {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.item {
  box-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.1);
  padding: 2.4rem;

  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 3.2rem; */

  display: grid;
  column-gap: 2.4rem;
  row-gap: 3.2rem;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: space-between;
}

.number,
.text {
  font-size: 2rem;
  /* justify-content: space-between; */
}

.number {
  color: #333;
  font-weight: bold;
}

.accordian-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #d0ebff;

  /* stroke: #d0ebff; */
}

.accordian-icon:link,
.accordian-icon:visited {
  color: #339af0;
}

.accordian-icon:hover,
.accordian-icon:active {
  color: #339af0;
  cursor: pointer;
}

/* Hidden toggle feature */

.project-text {
  font-size: 1.6rem;
  line-height: 1.8;
}

.hidden-box {
  grid-column: 2;
  display: none;
}

.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
}

.hidden-box ul {
  color: #868e96;
  margin-left: 20px;
  /* Inorder to apply vertical margin but not on last child */
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.open {
  border-top: 4px solid #339af0;
  /* transition: all 1s; */
}

.open .accordian-icon {
  color: #339af0;
}

.open .hidden-box {
  display: block;
}

.open .number,
.open .text {
  color: #339af0;
}

/* Papers */

.section-papers {
  margin-bottom: 8.6rem;
}

.section-papers .heading-primary {
  margin-bottom: 14rem;
}

.paper-carousel {
  background-color: #e7f5ff;
  border-radius: 0.8rem;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* gap: 4rem; */
  position: relative;
  /* overflow: hidden; */
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  gap: 8.6rem;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
  /* display: flex; */
  /* flex-direction: column; */
}

.paper-img {
  height: 35rem;
  position: relative;
  border-radius: 8px;
  transform: scale(1.5);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
  /* align-items: center; */
  /* justify-content: center; */
  /* margin-bottom: 6.4rem; */
  /* position: absolute; */
  /* left: 50%; */
}

.paper-title,
.paper-keywords {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 7.4rem;
}

.btn-icon {
  height: 24px;
  width: 24px;
  stroke: #339af0;
  color: #339af0;
  opacity: 0.8;
}

.btn-icon-left {
  transform: rotate(180deg);
}

.btn {
  /* background-color: #fff; */
  border: none;
  height: 40px;
  width: 40px;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
}

.btn--left {
  left: 0;
  transform: translate(-50%, -50%);
}

.btn--right {
  right: 0;
  transform: translate(50%, -50%);
}

.btn:link,
.btn:visited {
}

.btn:hover,
.btn:active {
  background-color: #e7f5ff;
}

.dots {
  /* position: absolute;
  left: 50%;
  transform: translate(-50%, 32px);
  bottom: 0;

  display: flex;
  gap: 12px;

  height: 12px;
  width: 12px;
  background-color: #fff;
  stroke: #339af0;
  border: 2px solid #339af0;
  border-radius: 50%;
  cursor: pointer; */

  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #339af0;

  opacity: 1;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #fff;
  stroke: #339af0;
  border: 2px solid #339af0;
  border-radius: 50%;
  cursor: pointer;
}
/* 
.dot--fill {
} */
